{%load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './CSS/Style.css'%}">
    <title class="text-capitalize">{{request.user}} | Dashboard</title>
  </head>
  <body>
    <nav class="">
        <div class="container-fluid">
         <div class="flex-container d-flex justify-content-around text-capitalize">
             <div class="dashboard-tab p-3 ">
                 <a href="{%url 'dashboard'%}" class="nav-links text-decoration-none">
                     <h5><strong>dashboard</strong></h5>
                 </a>
             </div>
             <div class="Profile-tab p-3">
                <a href="{%url 'profile'%}" class="text-decoration-none">
                    <h5><strong>Profile</strong></h5>
                </a>
            </div>
         </div>
        </div>
    </nav>
    
 <div class="container">
    <div class="row  mt-5 mx-auto">
        <div class="col-md-6">
            <div class="d-grid gap-2 mb-2">
                <button type="button" class="btn btn-info " data-bs-toggle="modal" data-bs-target="#add-link">
                    Add Link
                </button>
                
            </div>


            <div class="d-grid gap-2">
                <div class="input d-flex justify-content-between">
                    <div class="input-box" style="width: 80%;">
                        <input type="text" class="form-control my-link" placeholder="" value="Your Link" id="my-link" >
                    </div>
                    <button type="button" class="btn btn-info " onclick="copyUrl()" data-bs-toggle="tooltip" data-bs-placement="right" title="Click to Copy">
                      Copy  
                    </button>
                </div>
            </div>

            <div class="row text-dark mt-5 mx-auto">
                <div class="col-md-12">
                
                    {%for link in all_links%}
                    <div class="link-container  card p-3 d-flex justify-content-between mt-2" style="width: 100%;">
                        <div class="info">
                            <h6><strong>{{link.title}}</strong></h6>
                            <h6>{{link.link | slice:":30" | safe}}...</h6>
                        </div>
                        <div class="btns d-flex " >
                            <div class="edit-btn">
                                <a href="{%url 'link_edit' link.id%}"  class="btn btn-info" ">
                                    Edit
                                </a>
                            </div>
                            <div class="delete-btn">
                                <a href="{%url 'delete_link' link.id%}" type="button" class="btn btn-info" >
                                Delete
                                </a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            
            </div>
        </div>

        <div class="col-md-6 mx-auto text-center moblie-view">
            <div class="embed-responsive embed-responsive-9by16 mx-auto">
                <iframe class="embed-responsive-item" src=""  height="620" width="360" id="frame" style="border-radius: 8px;"></iframe>
              </div>
        </div>
        
    </div>

    

 </div>

<!-- Add Link Modal -->
    <div class="modal fade " id="add-link" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-dark">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Link</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form action="" method="POST">
                {%csrf_token%}
                {{link_form | crispy}}
                <!-- {{forms | crispy}} -->
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Add</button>
            </form>
            </div>
        </div>
        </div>
    </div>


    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
    <script>
        // window.location.href
        const url = `${window.location.href}{{request.user}}/`
        // console.log(url);'{{request.user}}'
        document.getElementById("my-link").value =url;
        document.getElementById("frame").src =url;

        
    </script>
    <script>
        function copyUrl(){
            var copyLink = document.getElementById("my-link");
            copyLink.select();
            copyLink.setSelectionRange(0, 99999);
            document.execCommand("copy");
        }
    </script>
  </body>
</html>
